<div class="row rounded fixed-bottom" style="background-color: #004E64;">
  <div class="col px-3 py-2 text-center text-white font-config">
    <div class="row">
      <div class="col">
        <span style="font-size: 30px; letter-spacing: 10px;">
        <a href="https://github.com/marcosviniciocardososousa" target="_blank"><i class="fab fa-github-square"></i></a>
        <a href="https://www.instagram.com/marcos_viniciomvcs/" target="_blank"><i class="fab fa-instagram"></i></a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        &copy; 2022 Marcos Sousa
      </div>
    </div>

  </div>
</div>
